<main class="d-flex flex-column text-center text-white bg-darke px-3">
  <div class="mx-auto">
    <h1>Made with Angular 13.</h1>
    <div class="lead">
      <p>
        its POC project on JWT Auth using Angular 13 as frontend. <br />
        node + express on backend for API
      </p>
      <a
        href="https://github.com/mahir-ttn/fullstack-with-angular"
        target="_blank"
        class="btn btn-lg mt-4 CTA"
        >Find it on github</a
      >
    </div>
  </div>
  <p class="mt-5">Made with ❤ by Mahir Asrani</p>
</main>
