main {
  height: calc(100vh - 70px);
  justify-content: center;
}

.lead {
  max-width: 850px;
}

.bg-darke {
  background-color: rgb(47 53 66);
}

.CTA {
  border: none;
  color: white;
  font-weight: 300;
  min-width: 200px;
  padding: 12px;
  background-image: linear-gradient(10deg, #205a80, #6ba6ff);
  animation: 5s ease-in-out infinite reverse oscar;
}

@keyframes oscar {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(10deg);
  }
  66% {
    transform: rotate(-10deg);
  }
}
